<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Roboto" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2>Hello welcome!</h2><br>
        <div class="row">
            <div class="col-sm-6">
                <form method="post" action="/customer">
                    <div class="form-group">
                        <label for="aadhar">Aadhar no:</label>
                        <input type="text" class="form-control" name="aadhar" id="aadhar">
                    </div>
                    <input type="submit" class="btn btn-default" value="submit">
                </form>
            </div>
        </div>

    </div>

</div>




<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>