<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Roboto" rel="stylesheet">
</head>
<body>
   <div class="container">
        <div class="jumbotron">
            <center><H1>Electricity Board Management System</H1></center>
        </div>
        <div class="link_holder">
        <center><a href="/customer"><img title="customer" height="250px" src="images/customer-service-resume.png"></a>
        <a href="/company"><img style="border-radius: 50%" title="company" height="250px" src="images/$_20.JPG"></a>
        <a href="/reg_customer"><img style="padding-top: 10px" title="regional customer" height="250px" src="images/india_map_office_locations_v1_hs.png"></a>
    </center>
    </div>
    <div style="margin: 20px">
        <p style="float: right; color: black;font-weight: 1000">Database managemet system project Submitted By<!-- : Ekansh Gayakwad --> Prateek Singh Ranjan and Shwetab Dixit</p>
    </div>
    </div>




    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
