<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Roboto" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>DATABASE MANAGEMENT PROJECT</h1>
            <center><H2>Electricity Board Management System</H2></center>
        </div>
        <div class="link_holder">
        <center><a href="/customer">Customer</a>
        <br>
        <a href="/company">Company</a>
        <br>
        <a href="/reg_customer">Reigonal customer</a></center>
    </div>
    <div style="margin: 20px">
        <p style="float: right; color: black;font-weight: 1000">Database managemet system project Submitted By: Ekansh Gayakwad <!-- Prateek Singh Ranjan and Shwetab Dixit --></p>
    </div>
    </div>




    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
